@page "/MapSpotSave"
@using System.Text.Json
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using MouseEvent = MudBlazor.MouseEvent
@using MudFPVAssistant.Services
@using MudFPVAssistant.Components
@inject ReactiveUserCollectionService<FlightSpot> SpotsService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IJSRuntime JS
@inject IDialogService DialogService
@implements IDisposable

<MudContainer Class="mt-2">
    <h3>Flight Spot Saver</h3>
    <MudPaper Class="position-relative p-0">
        <MudToolBar>
            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5"/>
            <MudIconButton Icon="@Icons.Material.Outlined.Add"/>
            <MudIconButton Icon="@Icons.Material.Outlined.Edit"/>
            <MudIconButton Icon="@Icons.Material.Outlined.Remove"/>
            <MudIconButton Icon="@Icons.Material.Outlined.PeopleAlt"/>
            <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Inherit"/>
        </MudToolBar>
        <div id="fpvMap"
             style="width:100%;height:800px;"
             @oncontextmenu:preventDefault="true">
        </div>
        <div id="timestamp"></div>
        <MudMenu PositionAtCursor="true"
                 ActivationEvent="MouseEvent.RightClick"
                 @ref="_mapMenu">
            <MudMenuItem OnClick="AddGlobalSpot">Додати спот тут</MudMenuItem>
        </MudMenu>
        <MudMenu PositionAtCursor="true"
                 ActivationEvent="MouseEvent.RightClick"
                 @ref="_markerMenu">
            <MudMenuItem OnClick="OpenEditDialog">Редагувати спот</MudMenuItem>
            <MudMenuItem OnClick="DeleteSpot">Видалити спот</MudMenuItem>
            <MudMenuItem>Прокласти маршрут</MudMenuItem>
        </MudMenu>
    </MudPaper>
    <MudExpansionPanel Text="Google Map">
        <MudPaper>
            <GoogleMapComp>
                
            </GoogleMapComp>

        </MudPaper>
    </MudExpansionPanel>

</MudContainer>

@code {
    private GoogleMap _map1;
}