@page "/MapSpotSave"
@using MudBlazor
@inject HttpClient httpClient
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime JS
@inject IDialogService DialogService

<MudContainer>
    <h3>MapSpotSave</h3>
    <MudToolBar>
        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5" />
        <MudIconButton Icon="@Icons.Material.Outlined.Add" />
        <MudIconButton Icon="@Icons.Material.Outlined.Edit" />
        <MudIconButton Icon="@Icons.Material.Outlined.Remove" />
        <MudIconButton Icon="@Icons.Material.Outlined.PeopleAlt" />
        <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Inherit" />
    </MudToolBar>
    <MudPaper Class="position-relative p-0">
        <div id="fpvMap"
             style="width:100%;height:400px;"
             @oncontextmenu:preventDefault="true">
        </div>

        <MudMenu PositionAtCursor="true"
                 ActivationEvent="MouseEvent.RightClick"
                 @ref="_mapMenu">
            <MudMenuItem OnClick="AddGlobalSpot">Додати спот тут</MudMenuItem>
        </MudMenu>
        <MudMenu PositionAtCursor="true"
                 ActivationEvent="MouseEvent.RightClick"
                 @ref="_markerMenu">
            <MudMenuItem OnClick="OpenEditDialog">Редагувати спот</MudMenuItem>
            <MudMenuItem OnClick="DeleteSpot">Видалити спот</MudMenuItem>
        </MudMenu>
    </MudPaper>
</MudContainer>

@code {

}