@page "/utils"
@inject HttpClient Http
@inject IJSRuntime JS
<PageTitle>Useful Utilities</PageTitle>
<MudExpansionPanels Class="m-5" MultiExpansion="true">
    <MudExpansionPanel Text="Stick Commands">
        <MudPaper Class="pa-4 d-flex justify-center">
            <div class="joystick-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="100%" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve">
                <path fill="#000000" opacity="1.000000" stroke="none" d=" M1.000000,599.468628   C3.997781,593.397095 3.494087,587.060364 4.378691,581.091370   C8.835505,551.018066 15.502762,521.406799 22.183676,491.788818   C36.101280,430.088837 51.371441,368.713654 66.383118,307.275757   C68.398186,299.028748 70.384132,290.829041 73.728058,282.984375   C80.401405,267.329041 91.474846,255.533340 106.283173,247.688431   C114.194878,243.497101 119.262390,238.148743 121.847939,229.577209   C124.243858,221.634323 127.768639,214.085129 133.172897,207.496994   C141.966873,196.776596 153.615555,191.555099 166.740402,188.333313   C198.340576,180.576324 229.902512,172.647491 261.363220,164.345840   C275.393982,160.643509 286.865784,163.975708 296.748962,174.237396   C302.987976,180.715347 309.895721,186.625839 315.556305,193.563690   C321.751953,201.157318 329.401154,203.873993 338.681854,203.617798   C340.513031,203.567245 342.347229,203.635498 344.180054,203.635544   C457.152313,203.638046 570.124573,203.650482 683.096863,203.598740   C687.577576,203.596680 692.055420,202.937592 696.539734,202.671494   C699.095093,202.519867 700.786560,201.031281 702.468140,199.349564   C710.950195,190.866821 719.657166,182.599594 727.921692,173.910995   C737.440063,163.904266 748.648865,160.714539 761.939392,164.011871   C795.296448,172.287643 828.639832,180.621140 862.042175,188.710876   C882.521240,193.670715 895.590088,206.538162 902.054260,226.092072   C905.452576,236.371994 910.813354,243.624329 920.845215,248.909378   C942.368164,260.248169 952.642761,280.122437 958.101562,303.067291   C967.168701,341.178680 976.592163,379.205200 985.699524,417.307129   C997.039856,464.750732 1008.755127,512.116577 1017.944397,560.040405   C1020.750916,574.676941 1022.529297,589.510681 1024.889160,604.627075   C1025.000000,636.020874 1025.000000,667.041809 1025.000000,698.531372   C1022.188843,713.824341 1020.043701,728.779419 1015.276123,743.191772   C1007.702148,766.087769 996.985474,787.091003 979.740662,804.357605   C962.343750,821.776550 941.524536,831.556763 916.884827,833.471191   C889.826904,835.573608 865.462646,829.081604 844.212036,811.881042   C832.187500,802.148071 823.186218,789.647827 813.277893,777.984375   C781.900269,741.048767 751.823486,703.056274 721.798523,665.025879   C711.175110,651.570007 697.069336,645.458618 680.461121,645.435303   C568.482178,645.278137 456.502869,645.314941 344.523773,645.406860   C331.953003,645.417175 319.735931,647.861877 310.372772,656.961243   C304.563751,662.606628 299.818909,669.375610 294.794891,675.795654   C262.673004,716.843323 230.170364,757.582336 196.198608,797.123535   C178.935883,817.216492 157.446655,830.228333 130.880493,833.128235   C87.874245,837.822693 54.584755,820.931458 30.634966,785.477600   C15.304336,762.783020 6.902995,737.287781 2.603826,710.361633   C2.398986,709.078735 1.812921,707.856628 1.202194,706.303101   C1.000000,670.645752 1.000000,635.291565 1.000000,599.468628  M83.500267,331.843140   C83.430000,332.338593 83.401474,332.844208 83.283562,333.328064   C67.756538,397.040588 51.863148,460.667236 37.731304,524.710022   C29.895269,560.221497 22.673887,595.917786 20.599590,632.281128   C18.641193,666.612610 20.867073,700.735291 30.993382,733.969910   C37.554794,755.504578 47.327007,775.084839 64.034775,790.656006   C76.873367,802.621094 91.998779,810.107666 109.474968,811.491394   C136.533173,813.633850 159.753159,804.960205 177.614548,784.101746   C193.424271,765.639282 208.975952,746.944580 224.233215,728.023071   C245.343628,701.842896 266.022125,675.314941 286.980072,649.011108   C301.211945,631.149048 320.024628,622.673401 342.701813,622.666626   C455.528870,622.633057 568.355896,622.624695 681.182983,622.672913   C705.172302,622.683167 724.813965,632.065002 739.642883,650.989014   C774.581055,695.575562 810.057190,739.728027 846.724426,782.904236   C868.714355,808.797668 896.816589,817.041443 929.399597,808.758606   C955.068237,802.233398 971.550476,784.305847 983.492004,761.650635   C997.508667,735.058411 1002.553589,706.071228 1004.435120,676.608459   C1006.410767,645.670349 1004.551270,614.774597 999.324341,584.138062   C993.852539,552.066589 987.014648,520.283508 979.642639,488.603302   C965.378906,427.307037 950.285767,366.211945 935.290100,305.093079   C932.593689,294.103333 928.245300,283.905762 919.849854,275.931091   C914.489075,270.839020 908.093567,267.202454 901.666199,263.674713   C893.101746,258.973999 887.280945,252.000702 883.825684,242.923264   C881.872559,237.791977 879.931213,232.647827 877.726807,227.622543   C874.491516,220.247284 869.227600,214.623199 861.319702,212.620529   C826.538147,203.812103 791.695007,195.246536 756.855957,186.666870   C752.219482,185.525070 748.205933,186.453568 744.647278,190.230972   C737.107849,198.233902 729.020325,205.720688 721.486938,213.728973   C713.583923,222.130127 703.998535,226.254333 692.605225,226.257950   C572.112122,226.296280 451.618958,226.331161 331.125885,226.260818   C321.281128,226.255066 312.591461,222.733109 305.539825,215.610840   C297.566681,207.557816 289.319733,199.758423 281.662109,191.417023   C277.100525,186.448120 272.259064,185.440063 266.002045,187.038742   C232.687576,195.550629 199.340759,203.937073 165.976379,212.251526   C157.414780,214.385086 151.553040,219.557022 147.781204,227.291351   C146.326248,230.274780 144.981018,233.355606 144.005585,236.521408   C139.769516,250.269669 131.642960,260.335754 118.497543,266.910553   C104.402802,273.960175 95.432846,285.786438 91.373245,301.103851   C88.734154,311.061462 86.296707,321.072540 83.500267,331.843140  z" />
                    <path fill="#000000" opacity="1.000000" stroke="none" d=" M894.778320,367.303711   C906.613831,386.837006 913.423218,407.515320 915.497986,430.024078   C921.223083,492.136139 886.961060,547.920288 832.739258,572.927734   C807.884521,584.390991 781.770264,587.835266 754.807251,584.371765   C705.078735,577.983948 668.658813,552.010803 645.217163,507.981201   C636.463074,491.538605 632.180542,473.632812 630.547424,455.003815   C627.074707,415.390289 637.587708,380.175354 663.479858,349.973846   C685.482727,324.309052 713.195251,307.954071 746.763916,302.577515   C790.390442,295.590088 830.055481,304.827484 864.665405,333.024567   C876.501831,342.667847 886.552185,353.962311 894.778320,367.303711  M840.439392,343.111511   C824.018677,331.862885 805.718262,325.365631 786.074097,323.544342   C763.525146,321.453735 741.643982,324.722107 720.913330,334.570068   C668.304382,359.561584 645.810059,410.168884 653.659485,462.269012   C657.821655,489.894958 670.489624,513.249939 691.381531,531.968872   C719.320435,557.001770 752.072388,567.030151 789.137146,562.402893   C811.635742,559.594055 831.665344,550.458618 849.043213,535.894165   C886.693787,504.339050 900.283020,464.059540 890.758911,416.241577   C884.576477,385.200745 867.004761,361.320099 840.439392,343.111511  z" id="leftStick" />
                    <path fill="#000000" opacity="1.000000" stroke="none" d=" M369.987244,362.080811   C388.850677,390.232941 396.702393,421.132782 394.135590,454.290100   C388.399048,528.394226 331.465027,574.406128 276.171570,583.587341   C201.177109,596.039917 137.314651,551.858582 116.423912,489.385956   C97.251060,432.050629 113.780510,369.029266 162.467407,330.264893   C182.859421,314.028839 206.047089,304.425903 232.036880,301.536102   C273.346893,296.942780 310.592224,306.708221 343.211700,332.782745   C353.544647,341.042450 362.367493,350.795746 369.987244,362.080811  M134.320908,414.646088   C130.270020,432.393433 129.890045,450.274872 133.623917,468.036987   C146.948181,531.420654 208.064545,573.679932 273.782654,561.320435   C340.140350,548.840515 383.628723,483.875366 369.861938,418.091187   C353.791718,341.299927 270.419739,302.791718 201.416336,333.572113   C166.246750,349.260193 144.137360,376.542542 134.320908,414.646088  z" id="rightStick" />
                    <path fill="#000000" opacity="1.000000" stroke="none" d=" M763.562744,539.607178   C744.256897,538.360291 726.598206,533.596558 711.997314,521.019287   C695.452454,506.767365 696.219421,484.699799 713.217957,470.987213   C723.619568,462.596252 735.794922,458.328613 748.602844,455.742737   C761.600891,453.118530 761.650085,453.358246 761.650757,440.303955   C761.651123,433.641083 761.478638,426.972198 761.715759,420.317810   C761.842163,416.770752 760.818909,414.869720 757.193115,413.865326   C752.541565,412.576752 748.198303,410.319397 744.358521,407.327332   C727.717712,394.360413 729.643921,372.290009 748.376343,360.818939   C764.055542,351.217499 788.145264,352.734039 802.498840,364.226074   C817.544800,376.272491 817.073181,396.301300 801.476379,407.572937   C797.526855,410.427216 793.197815,412.592285 788.534607,413.904022   C785.452942,414.770844 784.239868,416.354462 784.288879,419.577820   C784.438416,429.403259 784.432129,439.233704 784.289917,449.059387   C784.246094,452.085724 785.100342,453.517181 788.307495,454.020844   C797.492188,455.463287 806.607910,457.301849 815.286011,460.821472   C821.020691,463.147339 826.420349,466.028687 831.370972,469.789459   C851.228516,484.874603 851.059570,508.602814 830.994995,523.517883   C819.749390,531.877319 806.873108,536.127380 793.270813,538.251770   C783.608093,539.760864 773.869019,541.329346 763.562744,539.607178  M784.304993,492.043213   C782.650635,499.686066 778.202759,503.116272 770.983093,502.316925   C765.472412,501.706848 761.811768,496.900116 761.664734,490.025848   C761.614929,487.695282 761.653320,485.362854 761.648071,483.031281   C761.633118,476.414734 761.608398,476.274414 755.173950,477.377502   C744.049622,479.284637 733.421753,482.485748 725.223694,490.861053   C721.391907,494.775665 721.357483,498.186432 724.910522,502.317413   C728.464111,506.449188 733.088867,509.114197 738.071228,511.126740   C754.851318,517.904724 772.224915,519.297791 789.948547,516.282959   C799.847656,514.599121 809.350159,511.611694 817.540649,505.446869   C825.125000,499.738312 825.414062,493.853638 817.856995,488.134888   C808.197266,480.825043 796.962524,477.762817 784.325073,476.831543   C784.325073,481.896118 784.325073,486.514984 784.304993,492.043213  M777.902649,377.358917   C771.401611,376.929504 764.893066,376.600983 759.230774,380.696869   C755.328003,383.520050 755.244812,387.337280 758.884399,390.180389   C765.421082,395.286499 780.827637,395.195709 787.188538,390.013489   C790.484070,387.328644 790.569702,383.900482 787.339294,381.185242   C784.860107,379.101379 781.826111,378.207947 777.902649,377.358917  z" />
                    <path fill="#000000" opacity="1.000000" stroke="none" d=" M280.290833,536.561401   C254.751770,542.538757 230.128571,541.331421 206.165421,531.257202   C200.600998,528.917969 195.522598,525.722046 190.906372,521.864746   C172.907425,506.824829 173.444489,484.169708 192.189911,469.950623   C203.752090,461.180267 217.221008,457.124084 231.291031,454.663788   C241.565887,452.867065 239.467758,453.838562 239.619431,444.921265   C239.761032,436.596558 239.508286,428.264252 239.703781,419.941742   C239.783783,416.536591 238.632645,414.820984 235.308243,413.872650   C232.302582,413.015228 229.425140,411.548279 226.656662,410.045197   C207.999619,399.916138 205.703522,377.823090 221.824844,364.072693   C237.311218,350.863861 266.528870,351.424744 281.438416,365.217041   C295.277588,378.019257 293.992920,397.195282 278.585632,408.004517   C274.737000,410.704590 270.545685,412.727905 266.096069,414.157959   C263.539856,414.979492 262.268799,416.288818 262.302307,419.150665   C262.421143,429.308411 262.400604,439.468872 262.313110,449.627258   C262.290558,452.245026 263.123932,453.429840 265.882019,453.884796   C276.875610,455.698059 287.753845,458.014343 297.921204,462.845245   C304.289307,465.870941 310.184113,469.592438 315.112183,474.668030   C328.611084,488.571045 327.338074,509.019531 312.360809,521.271545   C303.019318,528.913330 292.297424,533.581299 280.290833,536.561401  M262.431274,478.435150   C262.399628,482.267487 262.378845,486.099915 262.334106,489.932098   C262.243134,497.723328 258.445435,502.154968 251.704193,502.356750   C244.634003,502.568420 239.984909,497.839600 239.683243,490.004486   C239.561508,486.842346 239.583160,483.670624 239.658752,480.506104   C239.729584,477.541351 238.929108,476.344543 235.528748,476.987061   C229.798584,478.069824 224.102280,479.193298 218.639206,481.236969   C212.823685,483.412506 207.294037,486.145142 203.152390,490.973694   C199.500290,495.231506 199.565781,498.280212 203.281738,502.439697   C206.920486,506.512817 211.574951,509.123413 216.547180,511.127411   C233.503525,517.961426 251.001266,519.244019 268.937012,516.129211   C278.046753,514.547119 286.795563,512.042236 294.455261,506.672455   C303.969910,500.002350 303.878204,493.346069 294.230835,486.791229   C286.508301,481.544189 277.840210,478.700226 268.676117,477.460846   C266.771851,477.203339 264.537567,475.375153 262.431274,478.435150  M239.101501,379.447327   C236.624008,380.928833 234.179474,382.491058 234.370255,385.873169   C234.573380,389.474426 237.355682,390.956665 240.153488,392.029907   C247.596100,394.884918 255.106964,394.821381 262.448883,391.634735   C265.040466,390.509827 267.644440,389.088715 267.627655,385.614258   C267.609985,381.954010 264.892578,380.424438 262.123871,379.271423   C254.742844,376.197754 247.265518,376.249481 239.101501,379.447327  z" />
                </svg>
            </div>
            <MudButton Color="Color.Primary" OnClick="@(() => MoveStick("leftStick", -20, -20))">
                ⬅️⬆️
            </MudButton>

            <MudButton Color="Color.Primary" OnClick="@(() => MoveStick("rightStick", 20, 20))">
                ➡️⬇️
            </MudButton>

            <MudButton Color="Color.Secondary" OnClick="@ResetSticks">
                🔄 Reset
            </MudButton>

        </MudPaper>
        <MudButton Color="Color.Primary" OnClick="TriggerOSDAnimation">Відкрити OSD</MudButton>
    </MudExpansionPanel>
    <MudExpansionPanel Text="ESC Configurator">
        Panel Two Content
    </MudExpansionPanel>
    <MudExpansionPanel Text="Betaflight Configurator">
        Panel Three Content
    </MudExpansionPanel>
    <MudExpansionPanel Text="Panel Four">
        Panel Four Content
    </MudExpansionPanel>
</MudExpansionPanels>
@if (forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature in Celsius">Temp. (C)</th>
            <th aria-label="Temperature in Farenheit">Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    private async Task TriggerOSDAnimation()
    {
        await JS.InvokeVoidAsync("animateOSDSticks");
    }
    async Task MoveStick(string id, int dx, int dy)
        => await JS.InvokeVoidAsync("moveStick", id, dx, dy);

    async Task ResetSticks()
        => await JS.InvokeVoidAsync("resetSticks");
    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

}